# IntelliJ project files #
.idea
classes
out
build
*.class

# Eclipse project files #
.classpath
.project
.settings

# Gradle #
target
gradlew*

# Package Files #
*.jar
*.war
*.ear
/.gradle/

*.iml
/apache-tomcat-9.0.0.M4/
/gradle/
